<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<h1>Express + EJS 를 사용한 게시판 - 글 수정</h1>
<div>
    <form action="/posts-update" method="post">
        <div>
            <p>제목</p>
            <input type="text" name="title" required value=<%= post.title %>>
        </div>
        <div>
            <p>내용</p>
            <input type="text" name="content" required value=<%= post.content %>>
        </div>
        <input type="hidden" name="postId" value=<%= post._id %>>
        <button type="submit">수정하기</button>
    </form>
    <a href="/">이전으로</a>
</div>
</body>
</html>